.menu-button {
  margin: 1px !important;
  padding: 0px !important;
}

.activities-icon {
  -st-icon-style: symbolic;
}

.activities-layout {
  spacing: 6px;
}

/* Increase horizontal padding of the Logo Menu */
.wack-logo-button {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* Ensure labels inside our custom buttons follow panel text color */
.wack-logo-button StLabel,
.wack-workspace-button StLabel,
.wack-app-menu-button StLabel {
  color: inherit !important;
}

/* Styling for light backgrounds (dark text/icons) */
#panel.light-contrast,
#panel.light-contrast *,
#panel.light-contrast .panel-button,
#panel.light-contrast .panel-button * {
  color: rgb(20, 20, 20) !important;
}

#panel.light-contrast .system-status-icon,
#panel.light-contrast .app-menu-icon,
#panel.light-contrast .popup-menu-arrow {
  color: rgb(20, 20, 20) !important;
}

.workspace-dot {
  border-radius: 999px;
  background-color: #ffffff !important;
}

#panel.light-contrast .workspace-dot {
  border-radius: 999px;
  background-color: #222226 !important;
}

#panel,
#panel * {
  transition-duration: 250ms !important;
}


#panel.panel-bigsur {
  background-color: transparent !important;
}